.vuông{
    height: 50px;
    width: 50px;
    background-color: red;
}
.tròn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
}
.méo{
    height: 50px;
    width: 50px;
    background-color: green;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}